azure-common==1.1.28
azure-core==1.36.0
azure-search-documents==11.6.0
azure-storage-blob==12.27.1
dotenv==0.9.9
numpy==2.3.4
openai==2.6.1
protobuf==6.33.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
streamlit==1.51.0
